<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Our Story</h2>
                <hr class="light">
                <p class="text-faded">Hi, we are the Pinedas! We are a jewelry artisan family based out of Edmonton in the heart of Treaty 6 Territory. We design and create one of a kind jewelry using silver, copper, brass and various natural materials. We started this venture during the pandemic lockdown as an outlet for our creative energies and to maintain our mental well-being. Using traditional metalsmithing techniques we hand fabricate and hand finish every piece slowly and with intention. As a result, each piece is unique, with no two items exactly alike, nor are they perfect. The slight natural imperfections are what give the pieces their innate soulful character and appeal. It is our hope that the jewelry we create is filled with heart and soul and that it brings you as much joy wearing it as it gave us creating it. As the wearer of our work, take pride knowing that you are part of what makes the pieces beautiful.</p> 

                <p class="text-faded">When not squirreled away in our studio, you can find us roaming the great outdoors with our four-legged family members.</p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
